header{
    background-color: red
}
.container {
	max-width: 1200;
	width: 100%;
	margin: 0 auto;
}
.headerflex {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
	flex-wrap: nowrap;
}
ul {
	margin-right: 52px;
	display: inline-block;
}
a {
	color: white;
	font-size: 20px;
	font-family: Helvetica;
}
.logo {
	margin-left: 60px;
}
.sec1 {
    background-image: url(../images/stel.jpg);
    background-repeat: no-repeat;
    height: 700px;
}