header{
    background-color: #525560;
}
.container {
	max-width: 1200;
	width: 100%;
	margin: 0 auto;
}
.headerflex {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
	flex-wrap: nowrap;
}
ul {
	margin-right: 52px;
	display: inline-block;
}
a {
	color: white;
	font-size: 20px;
	font-family: Helvetica;
}
.logo {
	margin-left: 60px;
}
.sec1 {
    width: 1200px;
}
.sec2 h2  {
    font-size: 50px;
    margin-top: 90px;
    margin-left: 60px;
    border-radius: 5px;
}
